{% set navPages = collections.all | eleventyNavigation %}

{% macro renderNavListItem(entry) %}

{% if entry.children.length %}
  <li>
    <details
      {%- for child in entry.children %}
        {% if child.parent == entry.title and child.url == page.url %}
          class="is-active"
          open
        {% endif %}
      {% endfor %}
     >
      <summary>{{ entry.title }}</summary>
      <ul role="list" class="doc-nav-list">
        {%- for child in entry.children %}{{ renderNavListItem(child) }}{% endfor -%}
      </ul>
    </details>
  </li>
{% else %}
  <li>
    <a href="{{ entry.url }}"{% if entry.url == page.url %} aria-current="page" {% endif %}>{{ entry.title }}</a>
  </li>
{%- endif -%}
{%- endmacro %}

<ul role="list" class="doc-nav-list">
{%- for entry in navPages %}{{ renderNavListItem(entry) }}{%- endfor -%}
{# <li><a href="/search">
  <svg class="doc-icon">
    <use xlink:href="#search"></use>
  </svg>
  <span>Search</span>
  </a></li> #}
</ul>
