@use '../abstracts/tokens' as *;

.lwj-layout-series {
  min-height: 100%;
  display: grid;
  grid-template-columns: 64px 1fr 64px;
  grid-template-rows: 32px auto auto 1fr;
  background-color: $color-background-body;
  > * {
    grid-column: 2 / 3;
  }
  > [data-grid-area="hero"] {
    grid-column: 1 / -1;
    grid-row: 1 / 4;
    background-image: var(--image);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    aspect-ratio: 1200/567;
    z-index: -1;
    border-image: linear-gradient(33.63deg, rgba(16, 3, 44, 0.85) 33.57%, rgba(16, 3, 44, 0.7225) 38.95%, rgba(16, 3, 44, 0.425) 44.49%, rgba(16, 3, 44, 0) 49.86%) fill 1;
  }
  > [data-grid-area="logo"] {
    grid-row: 2 / 3;
    z-index: 10;
    margin-left: 30px;
    margin-top: 15px;
    width: fit-content;
  }
  > [data-grid-area="nav"] {
    grid-row: 2 / 3;
    text-align: right;
  }
  > [data-grid-area="promo"] {
    align-self: end;
    grid-row: 3 / 4;
    max-width: 70%;
    padding-inline: 30px;
    margin-block-end: 50px;
    color: $color-text-strong;
    text-shadow: $shadow-text-overlay;
  }
  > [data-grid-area="main"] {
    padding: 60px 30px;
    grid-row: 4 / 5;
  }
}
