$color-background-brand: #211e2a;
$color-background-accent: #f6f3fb;
$color-background-interactive: #c10b84;
$color-background-body: white;
$color-text-body: #011628;
$color-text-inverse: #E9E7ED;
$color-text-interactive: #c10b84;
$color-border: #dbd6e5;

$breakpoint-md: 768px;

$radius-sm: 2px;

$white: #FAF9FD; // AAA on $black, heading text on dark, light body background
$black: #0E032A; //dark body background
$indigo: #3B1B89; //  links/strong text/headers, buttons
$purple-200: #AE45FE; // accent, links on dark (AA on $black)
$purple-400: #9B20F9; // links on light
$yellow: #EDE767; // highlight, primary button

$gray-100: #E9E7ED; // accent background, inverse text, primary button on dark, body text on dark;
$gray-150: #CFC9DB; // body text on dark
$gray-175: #9E97B5; // subdued text on dark ❌
$gray-200: #9A91B1; // tag text, body text on dark?
$gray-300: #78757f; // subdued text on dark? (Fails AA on $black)
$gray-400: #615384; // body text on white, labels, tag background
$gray-700: #443960; // strong text?

$green: #1FD27C; // accent
$orange: #DE8E73; // accent
$blue: #3D8DDF; // links?


$color-text-subdued-inverse: #9E97B5; // AAA on $black
$color-text-body: #CFC9DB; // AAA on $blacK
$color-text-heading: $white;
$color-text-subdued: #78757f;

$text-shadow-1: 0px 0.62px 1.24px #180A3B;
$text-shadow-2: 1px 1px 2px rgba(14, 3, 42, 0.5);
$text-shadow-overlay: 0px 0.62px 1.24px 0px rgba(24, 10, 59, 0.8);
$color-background-overlay-light: rgba(68, 57, 96, 0.6);
$color-background-overlay-dark: rgba(0, 6, 59, 0.6);
$color-border-overlay: rgba(255, 255, 255, 0.15);
$color-gradient-hero: linear-gradient(33.63deg, rgba(16, 3, 44, 0.85) 33.57%, rgba(16, 3, 44, 0.7225) 38.95%, rgba(16, 3, 44, 0.425) 44.49%, rgba(16, 3, 44, 0) 49.86%);
$color-gradient-inputs: linear-gradient(180deg, #FAF9FD 0%, #CCE4F7 100%);
$color-gradient-inputs2:linear-gradient(180deg, color(display-p3 0.980 0.976 0.992) 0%, color(display-p3 0.820 0.890 0.961) 100%);
$color-gradient-display: linear-gradient(0deg, color(display-p3 0.980 0.976 0.992), color(display-p3 0.980 0.976 0.992)), linear-gradient(180deg, rgba(250, 249, 253, 0.2) 0%, rgba(188, 59, 255, 0.2) 100%);
$color-gradient-display2: linear-gradient(180deg, color(display-p3 0.980 0.976 0.992 / 0.2) 0%, color(display-p3 0.682 0.271 0.996 / 0.2) 100%);


$avatar-sm: 30px;
$avatar-lg: 90px;

$spacing-xs: 5px;
$spacing-sm: 10px;
$spacing-md: 20px;
$spacing-lg: 30px;
$spacing-xl: 60px;

$font-weight-book: 400;
$font-weight-medium: 500;
$font-weight-black: 700; 

$font-size-1: 2.25rem; // 36px
$font-size-2: 1.125rem; // 18px
$font-size-3: 1rem; // 16px
$font-size-4: .875rem; // 14px
$font-size-5: .75rem; // 12px

$line-height-1: 40px;
$line-height-2: 24px;
$line-height-3: 24px;
$line-height-4: 20px;
$line-height-5: 18px;