@use '../abstracts/tokens' as *;

:root {
  --color-background-body: #{$white};
  --color-background-brand: #{$black};
  --color-text-inverse: #{$gray-100};
  --color-text-body: #{$gray-700};
  --color-text-interactive: #{$purple-400};
  --color-text-subdued: #{$gray-400};
  --color-text-subdued-inverse: #{$gray-175};
  --color-text-strong: #{$black};
  --color-background-accent: #{$gray-100};
}

@import 'base/reset';
@import 'components/buttons';
@import 'components/icons';
@import 'components/nav-list';
@import 'components/type';
@import 'components/breadcrumbs';
@import 'components/toc';
@import 'components/spacing';
@import 'components/tables';
@import 'components/example';
@import 'components/space-list';
@import 'components/palette';
@import 'utilities/spacing';
@import 'utilities/text';
@import 'utilities/flex';
@import 'utilities/grid';
@import 'utilities/color';
@import 'layouts/primary';
@import 'layouts/sidebar-right';
@import 'vendor/prism';