@use '../../abstracts/tokens' as *;

.doc-button-primary {
  display: flex;
  align-items: center;
  gap: .5rem;
  border: 1px solid transparent;
  border-radius: 2px;
  font-size: .875rem;
  line-height: 1;
  padding: .5rem .75rem;
  background-color: var(--color-background-interactive, #{$color-background-interactive});
  color: var(--color-text-body, #{$color-text-body});
  font-weight: 500;
  cursor: pointer;
  &:hover,
  &:focus-visible {
    outline: 2px solid white;
    outline-offset: -2px;
  }
}