$color-background-brand: #0E032A; // #211e2a;
$color-background-accent: #f6f3fb;
$color-background-interactive: #c10b84;
$color-background-body: white;
$color-text-body: #011628;
$color-text-inverse: white;
$color-text-interactive: #c10b84;
$color-border: #dbd6e5;

$indigo: #3B1B89; //  links/strong text/headers, buttons
$gray-100: #E9E7ED; // accent background, inverse text, primary button on dark, body text on dark;
$gray-150: #CFC9DB; // body text on dark
$gray-175: #9E97B5; // subdued text on dark ❌
$gray-200: #9A91B1; // tag text, body text on dark?
$gray-300: #78757f; // subdued text on dark? (Fails AA on $black)
$gray-400: #615384; // body text on white, labels, tag background
$gray-700: #443960; // strong text?
$yellow: #EDE767; // highlight, primary button
$green: #1FD27C; // accent
$orange: #DE8E73; // accent
$blue: #3D8DDF; // links?
$purple: #AE45FE; // accent, links on dark (AA on $black)
$purple2: #9B20F9; // links on light
$white: #FAF9FD; // AAA on $black, heading text on dark, light body background
$black: #0E032A; //dark body background

$breakpoint-md: 768px;

$radius-sm: 2px;

$avatar-sm: 30px;
$avatar-lg: 90px;

$spacing-xs: 5px;
$spacing-sm: 10px;
$spacing-md: 20px;
$spacing-lg: 30px;
$spacing-xl: 60px;

$font-size-1: 2.25rem; // 36px ✅
$font-size-2: 2rem; // 32px
$font-size-3: 1.5rem; // 24px
$font-size-4: 1.125rem; // 18px ✅
$font-size-5: 1rem; // 16px ✅
$font-size-6: .875rem; // 14px ✅
$font-size-7: .75rem; // 12px ✅

$line-height-1: 40px;
$line-height-2: 40px;
$line-height-3: 32px;
$line-height-4: 24px;
$line-height-5: 24px;
$line-height-6: 20px;
$line-height-7: 18px;

