@font-face {
  font-family: "jwf";
  src: url(https://assets.codepen.io/281/jwf-book.woff2) format("woff2");
  font-weight: 400;
  font-style: normal;
 }

@font-face {
  font-family: "jwf";
  src: url(https://assets.codepen.io/281/jwf-bookitalic.woff2) format("woff2");
  font-weight: 400;
  font-style: italic;
 }

@font-face {
  font-family: "jwf";
  src: url(https://assets.codepen.io/281/jwf-medium.woff2) format("woff2");
  font-weight: 500;
  font-style: normal;
 }

 @font-face {
  font-family: "jwf";
  src: url(https://assets.codepen.io/281/jwf-bold.woff2) format("woff2");
  font-weight: 600;
  font-style: normal;
 }